<!DOCTYPE html>
<html lang="en">
<title>FMCG Data Visualisation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
table{font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;margin: 0 auto; width: 80%;margin-top: 50px;height: 200px;overflow: auto;}
table td, table th {border: 1px solid #ddd;padding: 6px; font-size: 15px;}
table th {padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: rgb(248, 54, 54);color: white;}
#element1 {display:inline-block;width: 40%;text-align: center;} 
#element2 {display:inline-block;width: 40%;text-align: end;}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>FMCG<br>Data Visualisation</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="{% url 'materials' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Materials</a>
    <a href="{% url 'mat_analysis' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Data Analysis(Materials)</a> 
    <a href="{% url 'analysis' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Data Analysis</a> 
    
    <!--<a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Designers</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Packages</a> -->
    <a href="{% url 'viewdata' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">View Data</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>FMCG Data Visualisation</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">   

  <center><h4 style="padding-top: 20px;">List of Materials</h4></center>

  <div>
    <div id="element1" class="box">
      <select id="select1" onchange="callView()">
        <option value="all" >All</option>
        <option value="RM" >Raw Materials</option>
        <option value="PM" >Packaged Materials</option>
      </select>
    </div>
    <div id="element2" class="box">
      <select id="select2" onchange="callView()">
        <option value="all" >All</option>
        <option value="cartons" >Cartons/Shippers</option>
        <option value="Cocoa" >Cocoa</option>
        <option value="Coffee" >Coffee</option>
        <option value="Corn" >Corn</option>
        <option value="Dairy" >Dairy</option>
        <option value="Display box" >Display box</option>
        <option value="Fat-Cocoa" >Fat-Cocoa</option>
        <option value="Fat-Dairy" >Fat-Dairy</option>
        <option value="Fat-Other" >Fat-Other</option>
        <option value="Fat-Veg" >Fat-Veg</option>
        <option value="Flavour" >Flavour</option>
        <option value="Flour" >Flour</option>
        <option value="Oil-Veg" >Oil-Veg</option>
        <option value="PM Others" >PM Others</option>
        <option value="Potato" >Potato</option>
        <option value="Sugar" >Sugar</option>
        <option value="Wrapper" >Wrapper</option>
      </select>
    </div>
  </div>
    {% include 'table.html' %}
</div>
<!-- End page content -->

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
function callView() {
  var a = select1.value
  var b = select2.value
  $.ajax({
  method: "GET",
  url: "/materials",
  data: { param1: a, param2: b }
});
}
</script>

</body>
</html>